/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header {
  background-color: rgba(34,49,52,0.9);
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 10;
}

header img {
  padding: 20px 0px;
  width: 124px;
  float: left;
}

header a {
  float: right;
  background-color: rgba(255,255,255,0.3);
  line-height: 65px;
  padding: 0px 25px;
  display: block;
  color: white;
  transition: all 0.5s;
}

header a:hover {
  background-color: rgba(255,255,255,0.5);
}

.a {
  width: 1170px;
  margin: 0px auto;
}

.container {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  padding: 180px 0px 100px 0px;
  text-align: center;
}

.title {
  color: rgba(255,255,255,0.7);
  width: 1170px;
  margin: 0px auto;
}

.title h1 {
  font-size: 45px;
  letter-spacing: 5px;
}

.btn {
  padding: 8px 24px;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.or {
  padding: 15px 0px;
}

.signup {
  background-color: #239b76;
  opacity: 0.8;
  border-radius: 4px;
  color: white;
  margin-top: 30px;
}

.facebook {
  background-color: #3b5598;
  opacity: 0.8;
  border-radius: 4px;
  color: white;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
  opacity: 0.8;
  border-radius: 4px;
  color: white;
}

.fa {
  margin-right: 5px;
}

.kyoho {
  background-color: #f7f7f7;
  
}

.lesson-wrapper {
  width: 1170px;
  margin: 0px auto;
  text-align: center;
}

.lessons {
  height: 580px;
  width: 100%;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}

.mo {
  padding: 80px 0 50px 0;
  color: #5f5d60;
  font-weight: normal;
}

.lesson-icon {
  position: relative;
}

.lesson-name {
  position: absolute;
  top: 44%;
  width: 100%;
  color: #fff;
}

.lesson-detail {
  margin-top: 15px;
  width: 80%;
  font-size: 13px;
  display: inline-block;
  color: #b3aeb5;
}

.message {
  width: 1170px;
  margin: 0px auto;
  text-align: center;
}

.head {
  color: #5f5d60;
  padding: 80px 0 50px 0;
}

.head h2 {
  font-weight: normal;
}

.button {
  color: #fff;
  background-color: #5dca88;
  opacity: 0.8;
  padding: 15px 40px;
  border-radius: 4px;
  box-shadow: 0px 7px #1a7940;
  margin-bottom: 80px;
  cursor: pointer;
}

.button:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  border-top: 1px solid #eee;
}

.f-con {
  width: 1170px;
  margin: 0px auto;
}

.f-logo {
  padding: 30px 0px;
  font-size: 12px;
  color: #b3aeb5;
}

.f-img {
  width: 124px;
}
